:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);

  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1100px; /* ← ここが全体幅の基準 */
  margin: 0 auto;
  padding: 0 2rem; /* 画面端の余白 */
}

/* navbae */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grayishBlue);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navbar-list {
  display: flex;
  gap: 1.2rem;
}

.navbar-list li {
  list-style: none;
}

.navbar-list li:hover {
  border-bottom: 1.2px solid var(--orange);
}

.navbar-list a {
  text-decoration: none;
  color: var(--grayishBlue);
  cursor: pointer;
}

.navbar-icons {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.navbar-icons li {
  list-style: none;
  cursor: pointer;
}

.navbar-icons img {
  width: 2rem;
  height: 2rem;
}

.face-icon:hover {
  border-radius: 50%;
  border: 0.2rem solid var(--orange);
}

#cart-button {
  border: none;
  background-color: var(--white);
  position: relative;
}

#cart-button:hover {
  cursor: pointer;
}

.cart-icon-number {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--orange);
  color: var(--white);

  position: absolute;
  top: 0%;
  right: 0%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.initial {
  display: none;
}

/* wrapper */
.main-wrapper {
  display: flex;
  margin: 5rem;
  gap: 5rem;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

/* image */
.main-image {
  width: 20rem;
  height: 20rem;
  border-radius: 3rem;
}

.thumbnail-list {
  display: flex;
  gap: 1.2rem;
  padding: 0;
}

.thumbnail-list li {
  list-style: none;
  cursor: pointer;
}

.thumbnail-list img {
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
}

.thumbnail-list img:hover {
  opacity: 60%;
}

/* content */
.company-name {
  color: var(--darkGrayishBlue);
}

.item-name {
  color: var(--black);
}

.item-description {
  color: var(--darkGrayishBlue);
}

.sale-style {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sale-style p {
  margin: 0;
}

.sale-price {
  color: var(--black);
  font-size: 2rem;
}

.sale-percentage {
  background: var(--black);
  color: var(--white);
  border-radius: 0.7rem;
  padding: 0.3rem 0.6rem;
}

.original-price {
  color: var(--darkGrayishBlue);
  text-decoration: line-through;
}

/* button */
.button-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.button-wrapper button {
  border: none;
  height: 4rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}

.number-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0 0.5rem;
  width: 8rem;

  background: var(--lightGrayishBlue);
}

.number-button-wrapper button {
  background: var(--lightGrayishBlue);
}

.add-to-cart-button {
  background: var(--orange);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.add-to-cart-button img {
  filter: brightness(0);
}

#plus-button,
#minus-button {
  color: var(--orange);
}

#item-number {
  color: var(--black);
}

.add-to-cart-button:hover {
  background: var(--paleOrange);
}

/* cart-popup */

.cart-popup {
  background: var(--white);
  position: fixed;
  top: 5rem;
  right: 5rem;

  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--grayishBlue);

  width: 20rem;
  height: 15rem;

  padding: 2rem;
  border-radius: 1rem;
}

.cart-popup h3 {
  margin: 0rem;
}

.empty,
.not-empty {
  color: var(--darkGrayishBlue);
}

.not-empty-content {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#dismiss-items-button {
  background: none;
  border: none;
}

#dismiss-items-button img {
  background: none;
  border: none;
  width: 1.5rem;
  height: auto;
}

#dismiss-items-button:hover {
  cursor: pointer;
}

.cart-shoes-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 0.8rem;
}

.checkout-button-wrapper {
  display: flex;
  justify-content: center;
}

#checkout-button {
  background: var(--orange);
  border: var(--orange);
  border-radius: 0.8rem;

  width: 10rem;
  height: 2rem;
}

/* style for switching UI */
.inactive {
  display: none;
}

.focused {
  border: 0.3rem solid var(--orange);
  opacity: 60%;
}

/* style for modal */

#close-dialog {
  background: none;
  border: none;
}

#previous-button,
#next-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#previous-button,
#next-button,
#close-dialog:hover {
  cursor: pointer;
}

.modal-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-list {
  display: flex;
  justify-content: center;
  gap: 1.2rem;

  padding: 0;
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .navbar-list {
    display: none;
  }

  .thumbnail-list {
    display: none;
  }

  .main-image-wrapper {
    width: 100%;
  }

  .main-image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
